{% extends 'base.html.twig' %}


{% block content_header %}
    <h1>
        {{ txostena.name }}
        <small>ikusten</small>
    </h1>
{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Txostena</a></li>
        <li class="active">ikusi</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Berria</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for e in ekintzamotak %}
                            <li><a href="#">{{ e.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">



        </div>
        <div class="box-footer">
            <input class="btn btn-primary" type="submit" value="Gorde" />
        </div>

    </div>

{% endblock %}
